<!-- TODO: Corrigir o zinc -->
<footer class="bg-[#3f2c24] px-10 py-16 text-center text-zinc-100 md:text-left">
  <div
    class="mx-auto flex max-w-6xl flex-col gap-10 md:flex-row md:justify-between"
  >
    <!-- Location -->
    <div class="flex flex-col gap-5">
      <div class="flex items-center justify-center gap-2 md:justify-start">
        <lucide-icon [img]="lucideIcons.mapPin" />
        <h3 class="text-lg font-semibold">Location</h3>
      </div>
      <address
        class="flex flex-col text-sm leading-relaxed text-zinc-300 not-italic"
      >
        <span>123 Pizza Street</span>
        <span>Italian Quarter</span>
        <span>Food City, FC 12345</span>
      </address>
    </div>

    <!-- Call Us -->
    <div class="flex flex-col gap-5">
      <div class="flex items-center justify-center gap-2 md:justify-start">
        <lucide-icon [img]="lucideIcons.phone" />
        <h3 class="text-lg font-semibold">Call Us</h3>
      </div>
      <ul
        class="space-y-1 text-sm leading-relaxed text-zinc-300"
        aria-label="Contact phones"
      >
        <li>
          <a href="tel:+15551237492" class="hover:underline"
            >+1 (555) 123-5678</a
          >
        </li>
        <li>
          <a href="tel:+15551237493" class="hover:underline"
            >+1 (555) 123-7493</a
          >
        </li>
      </ul>
    </div>

    <!-- Email -->
    <div class="flex flex-col gap-5">
      <div class="flex items-center justify-center gap-2 md:justify-start">
        <lucide-icon [img]="lucideIcons.mail" />
        <h3 class="text-lg font-semibold">Email</h3>
      </div>
      <ul class="space-y-1 text-sm leading-relaxed text-zinc-300">
        <li>
          <a href="mailto:fastreactpizza.com" class="hover:underline"
            >fastreactpizza.com</a
          >
        </li>
        <li>
          <a href="malito:fastreactpizza.com" class="hover:underline"
            >fastreactpizza.com</a
          >
        </li>
      </ul>
    </div>
  </div>

  <!-- Divider -->
  <div class="mx-auto my-8 w-[90%] border-t border-zinc-700"></div>

  <p class="text-center text-sm text-zinc-400">
    © {{ currentYear }} Pseudo Pizza Co. Authentic Italian recipes.
  </p>
</footer>
